//colores varibles
$mainColor :#e2494c ;
$grayColor :#d9d9d9 ;
$darkColor:#19283f;
$greenColor:#33d1cc;
$redColor:#ff3150;
$yellowColor: #ffc400;
$sectionColor: #eff7fa;


$mainDark :#9926f0 ;
$mainLight :#BB6EF5 ;
$pink :#d122e3 ;
$gray-600 : #6c757d;
$gray-300 :#dee2e6;
$gray-200 :#e9ecef;
$footer : #151414;







/* media varibles */
$maxMobile : "(max-width:565px)";
$minTab :"(min-width:566px)";
$maxTab :"(max-width:767px)";
$minSmall : "(min-width:768px)";
$maxSmall : "(max-width:991px)";

$minMediem : "(min-width:992px)";
$maxMediem : "(max-width:1199px)";

$minLarge : "(min-width:1200px)";


